<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>Roomate Recommender -
            {% block title_block %}
                Help you find better roommates!
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>

        <hr />
        <div>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
            </ul>
        </div>
    </body>
</html>