<!doctype html>
{% load staticfiles %}

<html>
<head>

<meta charset="utf-8">
<title>Housing</title>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/skel.min.js" %}"></script>
        <script src="{% static "js/skel-layers.min.js" %}"></script>
        <script src="{% static "js/init.js" %}"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
			<link rel="stylesheet" href="{% static "css/skel.css" %}"/>
            <link rel="stylesheet" href="{% static "css/style.css" %}" >
            <link rel="stylesheet" href="{% static "css/style-xlarge.css" %}" />
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>


   <header id="header" class="skel-layers-fixed">
		<a id="brand" class="brand" href="index.html"><img src="{% static "images/Logo.png" %}" width="17%" height="auto" alt=""/></a>
		<nav id="nav">
			<ul>
						<li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'preference' %}">Preference</a></li>
                        <li><a href="{% url 'housing' %}">Housing</a></li>
                        <li><a href="{% url 'roommate' %}">Find New Roommates</a></li>
                        <li><a href="{% url 'show_like' %}">Liked Roommates</a></li>
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'register' %}" class="button special">Sign Up</a></li>
                            <li><a href="{% url 'login' %}" class="button special">Sign In</a></li>
                        {% else %}
                            <li><a href="{% url 'logout' %}" class="button special">Logout</a></li>
                        {% endif %}
					</ul>
				</nav>
		</header>
   <div id="house" class="container like">
    <h1>The houses you liked</h1>
       <div class="row">
        <div style="width:30%;">

    {% if like_housing_list %}
        <ul>
            {% for house in like_housing_list %}
                <h5><li>{{ house.address }}, {{ house.zipcode }}</li></h5>
                {{ house.description }}
                <form action = "{% url 'housing' %}" method="post">
                    {% csrf_token %}
                    <input name="house_id" type="hidden" value="{{ house.zid }}">
                    <input type="submit" class="likebutton" name="unlike" value="Unlike" />
                </form>
            {% endfor %}
        </ul>
    {% else %}
        <h5>you haven't liked any house yet</h5>
    {% endif %}
    <hr>
    <h1>Other houses you may be interested</h1>
    <form action= "{% url 'housing' %}" method="post">
        {% csrf_token %}
        <h5>zipcode</h5> <input type="text" name="zipcode"><br>
        <input type="submit" value="Search">
    </form>
    <ul>
        {% for house in other_house %}
            <h5><li>{{ house.address }}, {{ house.zipcode }}</li></h5>
            {{ house.description }}
            <form action = "{% url 'housing' %}" method="post">
                {% csrf_token %}
                <input name="house_id" type="hidden" value="{{ house.zid }}">
                <input type="submit" name="like" value="Like" />
            </form>
        {% endfor %}
    </ul>
        {% if other_house.has_other_pages %}
          <ul class="pagination">
            {% if other_house.has_previous %}
              <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in other_house.paginator.page_range %}
              {% if other_house.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if other_house.has_next %}
              <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}

        </div>
           <div style="width:65%">
               <iframe src="http://www.maps.ccgisc.org/mobile" width="100%" height="800px"></iframe>
           </div>
       </div>
   </div>
<footer id="footer">
				<div class="container">
					<div class="row double">
						<div class="6u">
							<div class="row collapse-at-2">
							<div class="6u">
									<h3>ROOMATE RECOMMENDER</h3>
									<ul class="alt">
										<li><a href="#" target="_blank">About</a></li>
										<li><a href="#" target="_blank">Website</a></li>
									</ul>
								</div>

								<div class="6u">
									<h3>Contact as</h3>
									<ul class="alt">
										<li>Thomas M. Siebel Center for Computer Science</li>
										<li>201 N Goodwin Ave </li>
                                        <li>Urbana, IL 61801</li>
                                        <li><strong>Phone: </strong>217.333.****</li>
                                        <li><strong>Email: </strong>***[at]illinois.edu</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="6u">
							<img src="{% static "images/logo.png" %}" width="auto" height="80" alt=""/>
							<p>ROOMMATE RECOMMENDER aims to recommend potiential roommates for users based on their preferred living locations, life styles and roommate preferences.</p>
						</div>
					</div>
				</div>
			</footer>
</body>
</html>
