<!DOCTYPE HTML>

{% load staticfiles %}

<html>
	<head>
<meta charset="utf-8">
<title>Home</title>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/skel.min.js" %}"></script>
		<script src="{% static "js/skel-layers.min.js" %}"></script>
		<script src="{% static "js/init.js" %}"></script>

		<link rel="stylesheet" href="{% static "css/skel.css" %}"/>
		<link rel="stylesheet" href="{% static "css/style.css" %}" >
		<link rel="stylesheet" href="{% static "css/style-xlarge.css" %}" />
	</head>
	<body id="top">



		<!-- Banner -->



<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<a id="brand" class="brand" href="{% url 'index' %}"><img src="{% static "images/Logo.png" %}" width="17%" height="auto" alt=""/></a>
				<nav id="nav">
					<ul>
						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% url 'preference' %}">Preference</a></li>
						<li><a href="{% url 'housing' %}">Housing</a></li>
						<li><a href="{% url 'roommate' %}">Find New Roommates</a></li>
                        <li><a href="{% url 'show_like' %}">Liked Roommates</a></li>
                        {% if not user.is_authenticated %}
							<li><a href="{% url 'register' %}" class="button special">Sign Up</a></li>
							<li><a href="{% url 'login' %}" class="button special">Sign In</a></li>
						{% else %}
							<li><a href="{% url 'logout' %}" class="button special">Logout</a></li>
						{% endif %}
					</ul>
				</nav>
			</header>
	<div id="banner" class="inner">
		<h2>Welcome Roommate Recommender!</h2>
		<p>
		{% if user.is_authenticated %}
			<h2>Hello {{ user.username }}!</h2>
		{% else %}
			<h2>hey there partner!</h2>
		{% endif %}
		<br />
			<h3><font color="white">{{ boldmessage }}</font></h3><br>
		</p>

	</div>

		<!-- One -->

		<!-- Footer -->
				<footer id="footer">
				<div class="container">
					<div class="row double">
						<div class="6u">
							<div class="row collapse-at-2">
							<div class="6u">
									<h3>ROOMATE RECOMMENDER</h3>
									<ul class="alt">
										<li><a href="#" target="_blank">About</a></li>
										<li><a href="#" target="_blank">Website</a></li>
									</ul>
								</div>

								<div class="6u">
									<h3>Contact as</h3>
									<ul class="alt">
										<li>Thomas M. Siebel Center for Computer Science</li>
										<li>201 N Goodwin Ave </li>
                                        <li>Urbana, IL 61801</li>
                                        <li><strong>Phone: </strong>217.333.****</li>
                                        <li><strong>Email: </strong>***[at]illinois.edu</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="6u">
							<img src="{% static "images/logo.png" %}" width="auto" height="80" alt=""/>
							<p>ROOMMATE RECOMMENDER aims to recommend potiential roommates for users based on their preferred living locations, life styles and roommate preferences.</p>
						</div>
					</div>
				</div>
			</footer>

	</body>
</html>