<!doctype html>
{% load staticfiles %}

<html>
<head>
<meta charset="utf-8">
<title>Sign Up</title>
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/skel.min.js" %}"></script>
		<script src="{% static "js/skel-layers.min.js" %}"></script>
		<script src="{% static "js/init.js" %}"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{% static "css/skel.css" %}"/>
		<link rel="stylesheet" href="{% static "css/style.css" %}" >
		<link rel="stylesheet" href="{% static "css/style-xlarge.css" %}" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>



     <header id="header" class="skel-layers-fixed">
		<a id="brand" class="brand" href="index.html"><img src="{% static "images/Logo.png" %}" width="17%" height="auto" alt=""/></a>
		<nav id="nav">
			<ul>
						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% url 'preference' %}">Preference</a></li>
						<li><a href="{% url 'housing' %}">Housing</a></li>
						<li><a href="{% url 'roommate' %}">Find New Roommates</a></li>
                        <li><a href="{% url 'show_like' %}">Liked Roommates</a></li>
                        {% if not user.is_authenticated %}
							<li><a href="{% url 'register' %}" class="button special">Sign Up</a></li>
							<li><a href="{% url 'login' %}" class="button special">Sign In</a></li>
						{% else %}
							<li><a href="{% url 'logout' %}" class="button special">Logout</a></li>
						{% endif %}
					</ul>
				</nav>
		</header>
   <div id="register" class="regis container">
    <h1>Register</h1>
    {% if registered %}
        <strong>thank you for registering!</strong>
        <a href="{% url 'index' %}">Return to the homepage.</a><br />
    {% else %}
        <strong>please register here!</strong><br />
        <form id="user_form" method="post" enctype="multipart/form-data" action="{% url 'register' %}">

        {% csrf_token %}
        <!-- isplay each form -->
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}
</div>
</body>
</html>
