{% extends 'recommender/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Roommates
{% endblock %}

{% block body_block %}
    <h3>Recommended Roommates</h3>
        {% if roommates %}
            <ul>
            {% for mate in roommates %}
                <li>{{ mate.user.username }}</li>
                <img src="{{ MEDIA_URL}}{{ mate.picture }}" height="70" width="70">
                {{ mate.user.roommatepreference.description }}
                <form action = "{% url 'roommate' %}" method="post">
                    {% csrf_token %}
                    <input name="mate_name" type="hidden" value="{{ mate.user.username }}">
                    <input type="submit" name="like" value="Like" />
                    <input type="submit" name="dislike" value="Dislike" />
                </form>
                <br>
            {% endfor %}
            </ul>
        {% else %}
            no recommended roommates for you now
        {% endif %}
        <br><br>
        <a href="{% url 'show_like' %}">See roommates you liked before!</a>
    <hr>
    <h3>Your current preference</h3>
    <table border="1">
        <tr>
            <td>Preferred Gender</td>
            <td>{{ gender_prefer }}</td>
        </tr>
        <tr>
            <td>Accept Smoke</td>
            <td>{{ smoke }}</td>
        </tr>
        <tr>
            <td>Accept Party</td>
            <td>{{ party }}</td>
        </tr>
        <tr>
            <td>Accept Stay up late</td>
            <td>{{ sleep_late }}</td>
        </tr>
        <tr>
            <td>Accept Pet</td>
            <td>{{ pet }}</td>
        </tr>
        <tr>
            <td>Others</td>
            <td>{{ description }}</td>
        </tr>
    </table>
{% endblock %}
